@import 'tailwindcss';
@custom-variant dark (&:is(.dark *));

body {
  font-family: 'Geist Variable', sans-serif;
}

.mono {
  font-family: 'Geist Mono Variable', monospace;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
